 html{
      height: 100%;
    }
    body {
      margin:0;
      padding:0;
      background-color: #1f1f14;
      height: 100%;
    }
    .map {
      position:absolute;
      top:0;
      bottom:0;
      width:70%;
      right: 0;}
    #sidebar {
      box-sizing: border-box;
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
      width: 30%;
      height: 100%;
      background-color: #1f1f14;
      border-right: 4px solid #97a092;
      padding-top: 20px;
	  overflow: auto;
	  overflow-x: hidden;
	  margin-left: 5px;
      }
    #title {
     color: #FFFFFF;
     font:arial;
     font-size: 40px;
	 margin: 0 auto;
     text-align: center;
     vertical-align: middle;
     line-height: 40px;
	}
	.sidebarText {
	 color: #FFFFFF;
     font:arial;
     font-size: 12px;
	 margin: 0 5px;
     text-align: left;
     vertical-align: middle;
     line-height: 14px;
	}
	#buttonDiv{
     margin-top: 40px;
     width: 100%;
     height: 5%;
     text-align: center;
	}
	.JobEduOth{
     color:#1f1f14;
     /*border:2px solid #9fe27a;*/
     /*border-radius: 35px;*/
     background: #73AD21;
     padding: 15px;
     width: 92%;
     height: 13px;
     font-size: 15px;
     /*display:inline-block;*/
     margin: 0;
  }
  .JobEduOth:hover {
    border: 1px solid rgba(255,255,255,1);
    text-shadow: #dbdbdb 0 1px 0;
    background: #dbdbdb;
    background: -webkit-gradient(linear, left top, left bottom, from(#dbdbdb), to(#dbdbdb));
    background: -webkit-linear-gradient(top, #dbdbdb, #dbdbdb);
    background: -moz-linear-gradient(top, #dbdbdb, #dbdbdb);
    background: -ms-linear-gradient(top, #dbdbdb, #dbdbdb);
    background: -o-linear-gradient(top, #dbdbdb, #dbdbdb);
    background-image: -ms-linear-gradient(top, #dbdbdb 0%, #dbdbdb 100%);
    color: #000000;
   }

   .JobEduOth:active {
    text-shadow: #dbdbdb 0 1px 0;
    border: 1px solid rgba(255,255,255,1);
    background: #dbdbdb;
    background: -webkit-gradient(linear, left top, left bottom, from(#dbdbdb), to(#dbdbdb));
    background: -webkit-linear-gradient(top, #dbdbdb, #dbdbdb);
    background: -moz-linear-gradient(top, #dbdbdb, #dbdbdb);
    background: -ms-linear-gradient(top, #dbdbdb, #dbdbdb);
    background: -o-linear-gradient(top, #dbdbdb, #dbdbdb);
    background-image: -ms-linear-gradient(top, #dbdbdb 0%, #dbdbdb 100%);
    color: #000000;
   }

  .mapboxgl-popup-content {
   max-width: 300px
  }

  #eduContent{
    max-height: 75vh;
    overflow: auto;
  }
  #jobContent{
    max-height: 75vh;
    overflow: auto;
  }#otherContent{
    max-height: 75vh;
    overflow: auto;
  }
